<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog || Article creation form</title>
</head>
<body>
    <form action="/articles" method="post">
        <input type="text" name="title" placeholder="Enter Title">
        <input type="text" name="description" placeholder="Enter Description">
        <input type="text" name="author" placeholder="Enter author name">
        <button type="submit">Create</button>
    </form>
</body>
</html>